---
layout: main
title: Hackference 2015 - Speakers
---

<div id="top-section-page">
		<div class="container">
			<div class="row" id="page-info">
				<div class="col-md-6 col-md-offset-1 text-left text-center-xs col-xs-12">
					<h2>Speakers</h2>
				</div>
				<div class="col-md-4 hidden-xs text-right">
					<h2><a href='' class="btn btn-ticket btn-lg">Apply to speak</a></h2>
				</div>
			</div>
		</div>
	</div>

	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-panel text-panel-peek">
						<div class="row image-row sponsorship">

							<div class="col-md-12">
								<p class="header-desc">For the third year running, we have managed to secure some of the most <strong>influencial, trendsetting personalities</strong> that the web development world has. Here you can view there profile, check out there social feeds - and even apply to be a speaker using our CFP system.</p>
								<p>&nbsp;</p>
							</div>

							<div id="content" class="row speakers-row-list">
								{% for speaker in site.speakers %}
								<div class="col-md-3 col-xs-6 speaker">
									<a href='{{ speaker.url }}'>
										<img src='{{ site.url }}{{ site.baseurl }}assets/{{ speaker.image }}' width="100%"/>
										{{ speaker.name }}
									</a>
									<p>{{ speaker.desc }}</p>
									{% if speaker.github %}<a href='https://github.com/{{ speaker.github }}'><i class="fa fa-github"></i></a>{% endif %}
									{% if speaker.twitter %}<a href='https://twitter.com/{{ speaker.twitter }}'><i class="fa fa-twitter"></i></a>{% endif %}
									{% if speaker.website %}<a href='{{ speaker.website }}'><i class="fa fa-globe"></i></a>{% endif %}
								</div>
								{% endfor %}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
