<div id="footer">
	<div class="container">
		<div class="col-md-8">
			<h2>We would love to hear from you!</h2>
			<p>You can catch us on <a href='https://twitter.com/hackferencebrum'>Twitter</a> or <a href='mailto:mike@hackference.co.uk'>by Email</a>.</p>
			<p>&nbsp;</p>
			<p>If you're interested in sponsoring, please contact on <a href='mailto:sponsorship@hackference.co.uk'>sponsorship@hackference.co.uk</a>.</p>

		</div>
		<div class="col-md-4">
			<h2>Interested?</h2>
			<p>Watch this space, the official site will be released shortly with all the information you will need. If you can't wait sign up for the update newsletter below.</p>
			<form action="http://hackference.createsend.com/t/i/s/jljyhy/" method="post">
				<p>
					<label for="fieldName">Name</label><br />
					<input id="fieldName" name="cm-name" type="text" />
				</p>
				<p>
					<label for="fieldEmail">Email</label><br />
					<input id="fieldEmail" name="cm-jljyhy-jljyhy" type="email" required />
				</p>
				<p>
					<button type="submit">Subscribe</button>
				</p>
			</form>
		</div>
	</div>
</div>