<!--

	A massive thank you to all our sponsors, everyone needs to give them some love for helping this amazing event

-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 sponsor-view sponsor-view-center text-center" style="background: url('{{ site.url }}{{ site.baseurl }}/assets/mike.png')">
			<div class="our-sponsors-p-tag">Our Sponsors</div>
			<a href='{{ site.url }}{{ site.baseurl }}/sponsors/sponsor-us.html' class="btn btn-ticket">Learn More</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 nopadding-xs sponsor-page-listings">
			<!-- Silver-->
			<div class="row" >
				<!-- Pusher - Silver -->
				<div class="col-md-3">
					<div class="sponsor-widget">
						<div class="sponsor-widget-body">
							<a href='https://pusher.com/'><img src="{{ site.url }}{{ site.baseurl }}/assets/sponsor/pusher_60.png" width="100%"/></a>
							<h4>Silver</h4>
						</div>
					</div>
				</div>
			</div>
			<!-- Bronze-->
			<div class="row">
				<!-- Proactive - Bronze -->
				<div class="col-md-3">
					<div class="sponsor-widget">
						<div class="sponsor-widget-body">
							<a href='http://www.proactive.uk.net/'><img src="{{ site.url }}{{ site.baseurl }}/assets/sponsor/proactive_60.png" width="100%"/></a>
							<h4>Bronze</h4>
						</div>
					</div>
				</div>

				<!-- JustGiving - Bronze -->
				<div class="col-md-3">
					<div class="sponsor-widget">
						<div class="sponsor-widget-body">
							<a href='http://pages.justgiving.com/developer'><img src="{{ site.url }}{{ site.baseurl }}/assets/sponsor/justgiving_60.png" width="100%"/></a>
							<h4>Bronze</h4>
						</div>
					</div>
				</div>

				<!-- SendGrid - Bronze -->
				<div class="col-md-3">
					<div class="sponsor-widget">
						<div class="sponsor-widget-body">
							<a href='https://sendgrid.com/'><img src="{{ site.url }}{{ site.baseurl }}/assets/sponsor/sendgrid_60.png" width="100%"/></a>
							<h4>Bronze</h4>
						</div>
					</div>
				</div>

				<!-- Majestic - Bronze -->
				<div class="col-md-3">
					<div class="sponsor-widget">
						<div class="sponsor-widget-body">
							<a href='https://majestic.com/'><img src="{{ site.url }}{{ site.baseurl }}/assets/sponsor/majestic_60.png" width="100%"/></a>
							<h4>Bronze</h4>
						</div>
					</div>
				</div>

				<!-- EF - Bronze -->
				<div class="col-md-3">
					<div class="sponsor-widget">
						<div class="sponsor-widget-body">
							<a href='http://joinef.com/'><img src="{{ site.url }}{{ site.baseurl }}/assets/sponsor/ef_60.png" width="100%"/></a>
							<h4>Bronze</h4>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
