<div id="top-nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-7">
					<a href='{{ site.url }}{{ site.baseurl }}/' class="hf-logo"><img src='{{ site.url }}{{ site.baseurl }}/assets/logo.png' alt="Hackference" /></a>
				</div>
				<div class="col-md-9 hidden-xs">
					<ul class="tnav">
						<li><a href='{{ site.url }}{{ site.baseurl }}/speakers'>Speakers</a></li>
						<li><a href='{{ site.url }}{{ site.baseurl }}/sponsors'>Sponsors</a></li>
						<li><a href='{{ site.url }}{{ site.baseurl }}/conference'>Conference </a></li>
						<li><a href='{{ site.url }}{{ site.baseurl }}/hackathon'>Hackathon </a></li>
						<li><a href='{{ site.url }}{{ site.baseurl }}/contact'>Contact</a></li>
						<!--
						<li><a href='{{ site.url }}{{ site.baseurl }}/info'>Info</a></li>
						-->
						<li><a href='{{ site.url }}{{ site.baseurl }}/tickets.html' class='btn btn-ticket btn-buy-ticket'>Tickets</a></li>
					</ul>
				</div>
				<div class="col-xs-5 visible-xs-block text-right">
					<a href='' class="btn btn-ticket show-submenu-mobile"><i class="fa fa-bars"></i></a>
				</div>
			</div>
		</div>
	</div>
