---
layout: main
title: Hackference 2015 - Sponsor Us
TODO: all of the page plz
---

<div id="top-section-page">
		<div class="container">
			<div class="row" id="page-info">
				<div class="col-md-6 col-md-offset-1 text-left text-center-xs col-xs-12">
					<h2>Sponsorship Packages</h2>
				</div>
				<div class="col-md-4 hidden-xs text-right">
					<h2><a href='' class="btn btn-ticket btn-lg">Download as a PDF</a></h2>
				</div>
			</div>
		</div>
	</div>

	<div id="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="text-panel text-panel-peek">
						<div class="row image-row sponsorship">
							<div class="col-md-12">
								<p class="header-desc"><strong>Hackference</strong> is three unique days of learning, collaboration and creating. <strong>250 Conference</strong> attendees will be enjoying talks focusing on new technology, creating amazing experiences - watching and participating in workshops, and <strong>150 Hackathon</strong> attendees will be part of one of the <strong>biggest hackathons</strong> in the United Kingdom.</p>
							</div>
						</div>
						<div class="row" >
							<div class="col-md-12">
								<h3>The basics</h3>
								<p>Every year Hackference is three day event, taking place in two venues.</p>
							</div>
						</div>
						<div class="row" >
							<div class="col-md-6" >
								<h4>Conference</h4>
								<p>October 2nd</p>
								{% include conference-map.html %}
							</div>
							<div class="col-md-6" >
								<h4>Hackathon</h4>
								<p>October 3rd - October 4th</p>
								{% include hackathon-map.html %}
							</div>
						</div>
						<div class="row" >
							<div class="col-md-12" >
								<h3>Who attends Hackference?</h3>
								<p class="desc">We're lucky at Hackference to have a diverse mixture of attendees - previous event's have had plenty of student, startup, corporate and freelance attendees from all over the skill spectrum. Although we love local developers and designers, we are even more lucky to have such a large number of them travel in from across the country.</p>
								<p class="desc">The majority of our speakers are renowed on a national level - and some, international - and travel to us from all across the world. They are active on social media, and usually have a very large following as they are considered trendsetters, influencers and brand promoters.</p>
								<h3>Why support Hackference?</h3>
								<p class="desc">Supporting Hackfrenence is a truely amazing way to get your company exposed to highly skilled and motivated developers and designers who are on the leading-edge of technology. In addition to helping us cover the costs of organising such an event - you are also helping us exhibit the brilliant, and sometimes, overlooked Birmingham technology scene. With your support, it mean's we can provide a fantastic event to our attendees.</p>
								<h3>The Packages</h3>
								<p class="desc">As the bare minimum everyone that sponsors is listed on our sponsors page with logo and a page explaining who you are and why you are supporting Hackference 2015. Also, a thank you will be sent out from our social media accounts and a mention in our periodic e-mail.</p>
								<table class="sponsor-table">
									<thead>
										<tr>
											<th rowspan="2">OPPORTUNITY</th>
											<th class="text-center" width="10%">Virtual</th>
											<th class="text-center" width="10%">Bronze</th>
											<th class="text-center" width="10%">Silver</th>
											<th class="text-center" width="10%">Gold</th>
											<th class="text-center" width="10%">Platinum</th>
										</tr>
										<tr>
											<th class="text-center" width="10%">£200</th>
											<th class="text-center" width="10%">£500</th>
											<th class="text-center" width="10%">£2,000</th>
											<th class="text-center" width="10%">£3,500</th>
											<th class="text-center" width="10%">£6,000</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Basic Package<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Be listed on our sponsors page with logo and a page explaining who you are and why you are supporting Hackference 2015. Also, a thank you will be sent out from our social media accounts and a mention in our periodic e-mail."><i class="fa fa-info"></i></a></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Inclusion on every page<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="You will appear on every page of the site in footer with an appropriately sized image."><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Be recognised on site<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="As well as being on the site, you'll be visible on site on posters, banners and between talks on screen."><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Dedicated email to members<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Send out a dedicated mailshot to our maillist, with your own graphics and copy."><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Goody bag inserts<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="You can supply a flyer and branded items to put in the attendee pack." ><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>API Partner<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Able to offer a prize at the hackathon, and demo your product so people can develop with or on it." ><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Booklet Advertisement<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="This year we'll be producing a booklet containing all the information about the event, plus some helpful extra pieces. THis allows you to be part of it." ><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check dash-me-up" data-content="1/4 Page Advertisement" tabindex="0" data-toggle="popover" data-trigger="hover"></i>*</td>
											<td class="text-center"><i class="fa fa-check dash-me-up" data-content="1/2 Page Advertisement" tabindex="0" data-toggle="popover" data-trigger="hover"></i>*</td>
											<td class="text-center"><i class="fa fa-check dash-me-up" data-content="Full Page Advertisement" tabindex="0" data-toggle="popover" data-trigger="hover"></i>*</td>
											<td class="text-center"><i class="fa fa-check dash-me-up" data-content="Full Page Advertisement" tabindex="0" data-toggle="popover" data-trigger="hover"></i>*</td>
										</tr>
										<tr>
											<td>Booth Space<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="We have limited space for booth, but you can either bring a booth setup, or we can provide a table a floor space to fill. It's first come, first serve for the limited space at the conference. **4 spaces**"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Inclusion on mailshots<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Be listed on every non-dedicated mailshot sent to our maillist."><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Lanyards<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Be remembered and in every photo taken, sponsoring the lanyards means being everywhere at the event. **1 Available**" ><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Workshop Session<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="You can run a workshop either at the conference or the hack on using your tech." ><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">£200*</td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Speakers Bar<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Instead of Q&amp;A we're having a bar where people can come and get a drink with the speaker to ask question. Make sure everyone can see you whilst getting a drink with there favourite speaker. **1 Available**"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">£500*</td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Inclusion on Video<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Logo on video main track to be released on YouTube for general consumption"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Power the workshops<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Have branding to cover the workshop spaces, pens and pads provided by sponsor. **1 Available**"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Power the main track<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Have branding on conference main track, and option for opening/closing remarks. **1 Available**"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Power the hackathon<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Have prominent branding for the event, as well as host the overall prize for the hack. **1 Available**"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Afterparty<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="Opportunity to host the post conference party. **1 Available**"><i class="fa fa-info"></i></a></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<td>Tickets<a href='' class="sponsor-info" data-toggle="modal" data-target="#package-details" data-content="As a thanks we will give you tickets to either send staff, or to give away." ><i class="fa fa-info"></i></a></td>
											<td class="text-center">0</td>
											<td class="text-center">1</td>
											<td class="text-center">2</td>
											<td class="text-center">3</td>
											<td class="text-center">4</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row" >
							<div class="col-md-12" >
								<h3>More Information</h3>
								<p class="desc">If you have any question, or specific goals or requirements, please don't hesitate to get in contact; we're always open to ideas and will try to accomodate as much as possilbe.</p>
								<p class="desc">You can contact us via:</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row" >
									<div class="col-md-3">
										<strong>E-mail</strong>
									</div>
									<div class="col-md-9">
										<a href="mailto:sponsorship@hackference.co.uk" >sponsorship@hackference.co.uk</a>
									</div>
								</div>
								<div class="row" >
									<div class="col-md-3">
										<strong>Twitter</strong>
									</div>
									<div class="col-md-9">
										<a href="https://twitter.com/hackferencebrum" target="_blank">@hackferencebrum</a>
									</div>
								</div>
								<div class="row" >
									<div class="col-md-3">
										<strong>Phone</strong>
									</div>
									<div class="col-md-9">
										<a href="tel:+44781696160" >(+44) 0781696160</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row" >
							<div class="col-md-12">
								<h3>Extras</h3>
								<p>We have plenty of other things that you can sponsor, either adding in or swapping with items in the packages.</p>
								<table>
								  <tbody>
								    <tr>
								      <th>Student Tickets</th>
								      <td>Professionals aren't the only people that get the most out of conferences, students get access to the biggest experts in fields they may not normally have access to. We want to bring in more students and up the diversity of the attendees.</td>
								      <td><strong>?</strong></td>
								    </tr>
								    <tr>
								      <th>Bean Bags</th>
								      <td>Sponsor the bean bags at the Hackathon, all the over night hackers will be eternally grateful to you for the more comfortable night's sleep they would have enjoyed.</td>
								      <td>£1000</td>
								    </tr>
								    <tr>
								      <th>Hackathon WiFi</th>
								      <td>Connectivity is always a problem at large tech events, especially community events. Help keep the hackers hacking!</td>
								      <td>£3500</td>
								    </tr>
								    <tr>
								      <th>Conference T-shirt</th>
								      <td>Give all the attendee's a little something unique and special to remember the event and your brand by.</td>
								      <td><strong>?</strong></td>
								    </tr>
								    <tr>
								      <th>Hackathon Meal - Lunch</th>
								      <td>First and last meal of Hackference is lunch, help provide that kick to start everyone off.</td>
								      <td>£500</td>
								    </tr>
								    <tr>
								      <th>Hackathon Meal - Dinner</th>
								      <td>After most of a working day coding, the hackers deserve a break and something nice to dig into</td>
								      <td>£850</td>
								    </tr>
								    <tr>
								      <th>Hackathon Meal - Breakfast</th>
								      <td>For those hackers that are just waking up, or haven't even attempted sleep, this is a much needed boost to the final hours of hacking.</td>
								      <td>£400</td>
								    </tr>
								    <tr>
								      <th>Hacker Coffee/Tea</th>
								      <td>The venue has an on-site coffee shop, why not have it branded and powered by your company.</td>
								      <td><strong>?</strong></td>
								    </tr>
								    <tr>
								      <th>Hacker Fuel</th>
								      <td>Cover all the soft drink and energy drinks the hackers will consume over the 30 hours the hackathon is open.</td>
								      <td>£500</td>
								    </tr>
								    <tr>
								      <th>Hacker Beer</th>
								      <td>Cover the evening beers, where hackers are trying to relax and dig in for the long haul hacking.</td>
								      <td>£500</td>
								    </tr>
								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="package-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Inclusion on the Sponsor page</h4>
				</div>
				<div class="modal-body">
					<p>This is a great way of showing your support to Hackference. This package includes:</p>
					<ul>
						<li>Company logo as image on website</li>
						<li>Image and Text on the sponsors page</li>
						<li>A social media shoutout across all Hackference Social Media to say thank you and who you are!</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
