<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>

	{% include top-navigation.html %}

  <div id="top-section-page">
  		<div class="container">
  			<div class="row" id="page-info">
  				<div class="col-md-6 col-md-offset-1 text-left text-center-xs col-xs-12">
  					<h2>{{ page.title }}</h2>
  				</div>
					<div class="col-md-4 hidden-xs text-right">
						<h2><a href='{{ site.url }}{{ site.baseurl }}/tickets.html' class="btn btn-ticket btn-lg">Buy a Ticket</a></h2>
					</div>
  			</div>
  		</div>
  	</div>

  	<div id="page-content">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-10 col-md-offset-1">
  					<div class="text-panel text-panel-peek">
              {{ content }}
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

	{% include footer.html %}

	{% include javascript-files.html %}

</body>
</html>
