<html>

{% include head.html %}

<body>

  <div id="topbar">
    <div class="logo">
      <img src='images/logo.png' />
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center">

        <div class="page-header">Hackference is coming back!</div>
        <p><strong>Yes, that's right, Hackference will be back for a third year in a row.</strong></p>
        <p>We're still a single day conference with a full weekend hackathon, for developers by developers. But this time we're mixing things up a bit to provide you with even more awesome!</p> 
        <p>The idea behind Hackference is to inspire people to develop more for fun. Software and app development is a day job for most attendees, Hackference is all about finding more stuff to enjoy and have fun and hack with.</p>
        
        <div class="page-header">Call for Speakers</div>
        <p>If you'd like to speak at Hackference, we'll be opening a Call for Speakers with the release of the site. If you'd like to find out more in advance, please e-mail <a href='cfp@hackference.co.uk'>cfp@hackference.co.uk</a></p>

      </div>
    </div>
  </div>

  {% include footer.html %}

</body>
</html>