<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div id="content">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center">

        {{ content }}

      </div>
    </div>
  </div>

  {% include footer.html %}
  <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-939219-M');
</script>
</body>
</html>
